.Content{
    background: rgba(255, 255, 255, 0.95);
    position: absolute;
    right: 0;
    width: 0;
    transition: width 0.3s ease-in-out;
    > * {
        opacity: 0;
        transition: opacity 0.3s ease;
    }
    &.show{
        right: 0;
        width: 100%;
        > * {
            opacity: 1;
        }
    }
}