.Content{
    position: absolute;
    right: -120%;
    transition: right 0.3s ease-in-out;
    > * {
        opacity: 0;
        transition: opacity 0.3s ease;
    }
    &.show{
        right: 0%;
        > * {
            opacity: 1;
        }
    }
}