
:root{
    --main-bg-color: rgb(19 109 131);;
    --menu-bg-color: rgb(0, 120, 150);
}

body{
    margin: 0;
}

.MainWindow{
    background: linear-gradient(to right,rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), url("../imgs/img1.jpg");
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    // background-color:var(--main-bg-color);
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: 250px 1fr;
    transition: grid-template-columns 0.3s ease;

    &.CloseMenu{
        grid-template-columns: 150px 1fr;
    }
    

    .MenuArea{
        // background-color: var(--menu-bg-color);
        grid-column: 1/2;
        // border-right: 1px solid black;

    }

    .ContentArea{
        // background-color: var(--main-bg-color);
        grid-column: 2/3;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        overflow: hidden;
    }
}